<!DOCTYPE html>
<html>
<head>
	<title>blog</title>

	<link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">

	<style type="text/css">
		body{
			background-color: rgba(69, 69, 69);
		}
		h1{
			font-size: 2.1rem;
			line-height: 1.4;
			letter-spacing: 0.5rem;
			text-align: center;
			color: white;
			margin-top: 50px;
		}
		.maindiv{
			width: 70%;
			height: 500px;
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%,-50%);
			background-image: url(../public/images/blog_page/blog1.jpg);
			background-size: 100% 100%;	
			box-shadow: 1px 2px 10px 5px grey;
			animation: slider 10s infinite linear
		}
		.post-content{
			font-family: 'Anton', sans-serif;
			margin-top: 33em;
			width: 70%;
			height: 500px;
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%,-50%);
			
		}
		.post-subject{
			color: rgba(141, 127, 127);
			font-size: 1.5em;
			font-weight: 50;
		}
		.post-description{
			color: rgba(221, 213, 213);
			font-size: 40px;
			font-weight: 25;

		}
		@keyframes slider{
			/* <%for(var i=0 ; i<post.length;i++){%> */
			
			<%if(post.length==1){%>
			0%{background-image: url("<%=post[0].url%>")}
				40%{background-image: url("<%=post[0].url%>")}
					70%{background-image: url("<%=post[0].url%>")}
			<%}else if(post.length==2){%>
			0%{background-image: url("<%=post[0].url%>")}
			40%{background-image: url("<%=post[1].url%>");}
			70%{background-image: url("<%=post[0].url%>")}
			<%}else if(post.length==3){%>
			0%{background-image: url("<%=post[0].url%>")}
			40%{background-image: url("<%=post[1].url%>");}
			70%{background-image: url("<%=post[2].url%>");}
			<%}%>
			
			/* /<%}%> */
		}
	</style>
</head>
<body>
	<%- include("nav"); -%>
        <h1><%=post[0].title%></h1>     
        <div class="maindiv">
        </div>
        <div class="post-content">
        		<div class="post-subject">
        			<p><%=post[0].title%></p>
        		</div>
        		<div class="post-description">
        			<p><%=post[0].text%></p>
        		</div>
        	</div>
        
</body>
</html>