<!DOCTYPE html>
<html lang="en">

<head>

    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mini-Quora</title>

    
    <!-- Custom Style   -->
    <link rel="stylesheet" href="/css/Style.css">
    <link rel="stylesheet" href="/css/stylecard.css">
    



</head>

<body>

    <%- include("nav"); -%>
    <!-- ----------------------------  Navigation ---------------------------------------------- -->

<!--------SIGN-IN------>

<%- include("SignUP"); -%>

<!------ REGISTER/Login ------>
<%- include("Login"); -%>
    <main>

        <!------------------------ Site Title ---------------------->
  <div class="container" >
        <section class="site-title">
            
                <!-- <img   src="/images/Background-image.png"> -->
                <div class="center">
                  <div class="hover">  
                 <h1 class="site_name">MINI-QUORA</h1>
                <h3 class="site_name_des">Amazing Blogs and experiences of the people</h3><br><br>
                </div>
                <button class="btn">Explore</button>
             </div>
            </section>
    </div>

    </main>
    <div>
        <%if(logged){%>
        <div class="wrapper">
            <div class="cards_wrap">
                <%for(var i =0 ; i < posts.length; i++){%>
        
                    
                <div class="card_item">
                    <div class="card_inner">
                        <div class="card_top">
                            <img src="<%=posts[i].url%>" alt="" srcset="">
                        </div>
                        <div class="card_bottom">
                            <div class="card_category">
                                Travel
                            </div>
                            <div class="card_info">
                                <a href="/post/<%=posts[i].post_id%>">
                                <p class="title"><%=posts[i].title %></p>
                                </a>
                                <p>
                                    <%=posts[i].text %>
                                </p>
                            </div>
                            <div class="card_creator">
                                By Alex Kato
                            </div>
                        </div>
                    </div>
                </div>
            
                <%}%>
            </div>
        </div>
        <%}%>
    </div>
    
    <!-- ======= Cards =========== -->
    

    <footer style="background-color: rgba(47, 47, 47,20%); height: 300px;"></footer>




  




 </body>

</html>