<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mypost</title>
    <link rel="stylesheet" href="/css/style_mypost.css">
</head>
<body style="background-image: url(../../images/bg2.svg);">
    <%- include("nav"); -%>

    
<center style="margin-top: 20px; font-size: 1.3em;"><h1 class="header">YOUR POSTS</h1></center>

        
    <div class="table-box">
        <!-- ==================== THIS IS THE FIRST ROW i.e ATTRIBUTES OF COLOUMNS =================-->
            <div class="table-row table-head">
                <div class="table-cell first-cell">
                    <h1>Title</h1>
                </div>
                <div class="table-cell">
                    <h1>Category</h1>
                </div>
                <div class="table-cell">
                    <h1>DELETE</h1>
                </div>
            </div>
         <!--============== ATTRIBUTE ROW ENDED AFTER THIS VALUES ROWS STARTS ========================-->   
        <!--====================== THIS IS THE ONE ROW OF THE TABLE ==================================-->    

        <%for(var i=0;i<post.length;i++){%>
            

            <div class="table-row">
                
                <div class="table-cell first-cell">
                    <h2>
                        <a href="/post/<%=post[i].post_id%>">
                        <%=post[i].title.substring(0, Math.min(30, 50))+"......." %>
                        </a>
                    </h2>
                </div>
                <div class="table-cell">
                    <p style="color:black;font-size:15px"> <%=post[i].category%></p>
                </div>
                <div class="table-cell">
                    <a href="/delete/<%=post[i].post_id%>">
                    <p style="color:red;font-size:15px"> <button>DELETE</button></p>
                    </a>
                </div>
             
            </div>
            <%}%>
            
          <!--== HERE THE ROW ENDS COPY THIS TO ADD MORE ROWS. ONE MORE IS ADDED AFTER THIS FOR DEMO =========-->
         
          
    
            
    </div> 
    
    <%- include("footer"); -%>
</body>
</html>